SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", SYMLINK+="ttyUSB-DECONZ", GROUP="dialout", MODE="0666"
# USB ZigBee Coordinator Version 3, based on cc2538 chip. See https://modkam.ru/?p=1112
SUBSYSTEM=="tty", ATTRS{idVendor}=="0451", ATTRS{idProduct}=="16c8", SYMLINK+="ttyUSB-ZigBeeV3", GROUP="dialout", MODE="0666"

